// sass for newApp.view.image.HomeView
.imageview { //TODO Do we have this class set somewhere in the component ?
  color: $color;
  font-size: 18px;
  background-color: $base-foreground-color;
  padding: 15px 0 0 15px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}